@model Todo

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-12">
        <h3 class="text-center">Create Todo</h3>
        <hr />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form class="row g-3" method="post" asp-action="create" asp-controller="Todo">
                    <div class="col-md-12">
                        <label class="form-label" asp-for="Title">Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" asp-for="Details">Details</label>
                        <textarea class="form-control" asp-for="Details"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a class="btn btn-info" asp-action="index" asp-controller="todo">Back To List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>